
 #footer{
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: rgba(255, 255, 255, 0.698);
    text-align: center;
    
 }

 #twitter {
    width: 1%;
     
 }
 #facebook {
    width: 1%;
    
 }
  