body {
    background-color:YELLOWGREEN;
}

h2 {
    margin-right: 2%;
    color: black;
}

h4 {
    font-size: 100%;
    color: black;
}
h6 {
    margin-top: 2%;
    font-size: 100%;
    color: black;
}
p {
    color: white;
}

.List {
    align-self: center;
    color: black;
}

/*Estilo tarjetas plantas de carrito*/
#cartas {
    float: left;
    height: 96%;
    text-align: center;
    margin-left: 10%;
    
    
}
/*Estilo parte de abajo de las tarjetas*/
.card-body {
    
    color: black;
}
/*Estilo botón Cantidad*/
.botonCantidad {
    text-align: center;
    margin-left: 12%; 
    background-color:OLIVEDRAB;
    width: 77%;
    height: 45px;
    margin-top: 1px;
    
}

#botonCantidadmas {
        background-color: OLIVEDRAB;
        border:OLIVEDRAB;
        margin-right: 13%;
        margin-top: 3%;
    }

#botonCantidadmas:hover {
        color:black;
    }

#botonCantidadmenos {
        background-color: OLIVEDRAB;
        border:OLIVEDRAB;
        margin-left: 15%;
        margin-top: 3%;
    }

#botonCantidadmenos:hover {
        color:black;
    }

/*Estilo botón Cancelar*/
#botonRemove {
    background-color:BLACK;
    width: 78%;
}
#botonRemove:hover {
    color:SLATEGRAY;
}
/*Estilo cajita de pago*/
#cajitaPago {
    text-align: center;
    width: 30%;
    position: relative;
   
}